#box {
    width: 600px;
    height: 664px;
    border: 1px solid #000;
    margin: 20px auto;
}

#messageBody {
    width: 580px;
    height: 600px;
    border: 1px solid #000;
    margin: 10px auto;
    overflow: scroll;
}

#title {
    margin: 10px auto;
    text-align: center;
}

.mySpan {
    background-color: rgb(116, 245, 202);
    border-radius: 5px;
    font-size: large;
    display: inline-block;
    padding: 10px 7px;
}

.otherSpan{
    background-color: rgb(236, 198, 148);
    border-radius: 5px;
    font-size: large;
    display: inline-block;
    padding: 10px 7px;
}

.myMessage {
    margin: 10px;
    text-align: right;
}

.otherMessage {
    margin: 10px;
    text-align: left;
}

#inputBox {
    margin-left: 8px;
    width: 516px;
    float: left;
    font-size: 1.3rem;
}

#submitButton {
    margin-left: 8px;
    float: left;
    font-size: 1.1rem;
}

.myName {
    margin: 0;
    color: rgb(110, 110, 110);
}

.otherName {
    margin: 0;
    color: rgb(110, 110, 110);
}